.footer_outer_container{
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    /* border-bottom: 150px solid gray; */
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    /* height: 170px;  */
}

.footer_inner_container{
    width: 60%;
    /* background-color: red; */
   
}

.footer_icones{
    width: 12%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    color: #fff;

}

.footer_data{
    display: flex;
    justify-content: space-between;
}
.footer_data ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh; 
    color:#c6c6c6;
}
.footer_data ul li{
    cursor: pointer;
}
.service_code {
    display: flex;
    align-items: center;
    justify-content: center;
    border:#fff 1px solid;
    width: 15%;
    margin: 1% 1%;
    cursor: pointer;
    color:#c6c6c6;
}
.copy-write{
    font-size: 12px;
    margin: 10px;
    color:#c6c6c6;
}